header{
    width: 100%;
    .navBar{
        background-color: map-get($colores , "navBar" );
        padding-top: 10px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navBar__logo{
            margin: 30px;
        }
        .navBar__list{
            display: flex;
            justify-content: flex-end;
            padding: 10px;
            margin-right: 20px;
            .navBar__list--item{
                list-style-type: none;
                margin: 10px;
                .navBar__list--nombre{
                    text-decoration: none;
                    color: map-get($colores, "textnav" );
                }
            }
        }
    }
}